@use "../variables/variables" as *;
@use "sass:map";
@use "sass:color";

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    padding: 10px 0;
    transition: transform 0.5s ease-out;
    .content{
        width: var(--content-size);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 1445px){
            margin: 0 20px;
        }
        .logo-container{
            width: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 70px;
            }
            h1{
                font-size: map.get($font-sizes, "heading");
                color: map.get($foreground-colors, "primary");
                span{
                    color: map.get($foreground-colors, "secondary");
                }
                @media(max-width: 513px){
                    display: none;
                }
            }
        }
        .button-container{
            button:first-child{
                font-size: map.get($font-sizes, "normal");
                background-color: map.get($background-colors, "tertiary");
                color: map.get($foreground-colors, "primary");
                padding: 10px;
                border: 3px solid color.scale(map.get($background-colors, "tertiary"), $lightness: 20%);
                border-radius: 5px;
                box-shadow: 0 0 10px 3px rgba(180, 180, 180, 0.192);
                cursor: pointer;
                margin-right: 20px;
            }
            button:nth-child(2){
                font-size: map.get($font-sizes, "small");
                padding: 5px 10px;
                background-color: transparent;
                color: map.get($foreground-colors, "primary");
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

.temporary-button{
    display: none;
    align-items: center;
    justify-content: center;
    .content{
        margin-top: 10px;
        display: flex;
        justify-content: end;
        width: var(--content-size);
        @media(max-width: 1445px){
            margin: 0 20px;
        }
        button{
            font-size: map.get($font-sizes, "small");
            padding: 5px 10px;
            background-color: transparent;
            color: map.get($foreground-colors, "primary");
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}